<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}">
<div layout:fragment="content">
	<style type="text/css">
		.hover{background-color:#fdf7df;}
		.graytd{background-color:#fcfcfc;}
	</style>
	<script type="text/javascript">
	  $(function() {
		  	$("#docsTr tr").hover(
			function () {
				$(this).children().removeClass('graytd');
				$(this).addClass('hover');

			},
			function () {
				$(this).removeClass('hover');
				$(this).children().addClass('graytd');
			}
			);
	  });
	  function loadDetailView(id){
		  location.href = "/admin/detail-view/emp/"+id;
	  }
	  
	</script>
	<div class="container-fluid">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">사원관리</li>
			<li class="breadcrumb-item active" style="color: #007bff;">사원 리스트</li>
		</ol>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-user"></i> 사원 목록
			</div>
			<div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
				<form id="excelForm" th:method="post" th:action="@{/admin/emp-list/excel}">
 				   <input type="submit" id="excelDown" value="EXCEL 다운"/>
				</form>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>번호</th>
								<th>소속 회사</th>
								<th>소속 부서</th>
								<th>직급</th>
								<th>이름</th>
								<th>휴가 일수</th>
							</tr>
						</thead>
						<tbody id="docsTr">
							<tr th:if="${size} == '0'">
								<td colspan=6>데이터가 없습니다.</td>
							</tr>
							<tr th:unless="${size} == '0'" 
							th:each="emp : ${list}"
							style="cursor:pointer;"
							th:data-empId="${emp.id}"
							th:onclick="loadDetailView(this.getAttribute('data-empId'))">
							<td th:text="${emp.board_no}">1</td>
							<td th:text="${emp.company}">두두원</td>
							<td th:text="${emp.dept_name}">서비스 팀</td>					
							<td th:text="${emp.emp_rank}">연구원</td>
							<td th:text="${emp.name}">현상원</td>
							<td th:text="${emp.holiday}">15</td>
						</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12 col-md-7">
							<ul class="pagination">
								<tr th:if="${pageHandler.prev}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/admin/home/emp-list/'+${pageHandler.getStartPage()-1}}">Previous</a></li>
								</tr>
								<th:block th:if="${size} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
									<li class="page-item">
										<a class="page-link" th:text="${index.current}"
										   th:href="@{'/admin/home/emp-list/'+${index.current}}">1</a>
									</li>
								</th:block>
								
								<tr th:if="${pageHandler.next}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/admin/home/emp-list/'+${pageHandler.getEndPage()+1}}">Next</a></li>
								</tr>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
		</div>
	</div>
</div>
</html>

