<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/config :: configFragment"></head>

  <body id="page-top">
      <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
          <a class="navbar-brand mr-1" th:href="@{/home}">Approval System</a>
          <!-- Navbar Search -->
          <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          </div>
          <!-- Navbar -->
          <ul class="navbar-nav ml-auto ml-md-0">
              <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="badge badge-danger" th:if="${msgCnt > 0}" th:text="|new|">new</span>
                  </a>
              </li>
              <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-envelope fa-fw"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item" th:if="${msgCnt > 0}" th:text="|결재 문서가  ${msgCnt}건 있습니다.|">결재 문서가 8건 있습니다.</p>
                      <p class="dropdown-item" th:unless="${msgCnt > 0}">결재 문서가 없습니다.</p>
                  </div>
              </li>

              <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user-circle fa-fw"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                      <a class="dropdown-item" th:href="@{/home/emp/my-info}">MY 정보</a>
                      <a class="dropdown-item" th:href="@{/home/emp/my-info/password}">비밀번호 변경</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">로그아웃</a>
                  </div>
              </li>
          </ul>
      </nav>
    <!-- ADMIN -->
    <div id="wrapper" th:if="${roleName eq 'ADMIN'}">
            <!-- Admin Sidebar -->
            <ul class="sidebar navbar-nav"
                th:replace="fragments/admin-sidebar :: admin-sidebar">
            </ul>
        <!-- content-wrapper -->
      <div id="content-wrapper">
          <!--container-fluid -->
        <div class="container-fluid" layout:fragment="content">
        </div>
        <!-- Sticky Footer -->
          <footer class="sticky-footer">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright © Dodowon.</span>
                  </div>
              </div>
          </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- USER -->
      <div id="wrapper" th:if="${roleName eq 'USER' || roleName eq 'MANAGER' || roleName eq 'DIRECTOR'}">
          <!-- Admin Sidebar -->
          <ul class="sidebar navbar-nav"
              th:replace="fragments/user-sidebar :: user-sidebar">
          </ul>
          <!-- content-wrapper -->
          <div id="content-wrapper">
              <!--container-fluid -->
              <div class="container-fluid" layout:fragment="content">
              </div>
              <!-- Sticky Footer -->
              <footer class="sticky-footer">
                  <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                          <span>Copyright © Dodowon.</span>
                      </div>
                  </div>
              </footer>
          </div>
          <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">로그아웃을 하게되면 모든 세션정보는 없어집니다.</div>
                  <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                      <form th:action="@{/logout}" method="get">
                          <button class="btn btn-primary" type="Submit">로그아웃</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>

  </body>
</html>