<?xml version="1.0" encoding="UTF-8"?>
<configuration>		
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy.MM.dd HH:mm:ss} : [%-5level : %thread] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy.MM.dd HH:mm:ss} : [%-5level : %thread] [%F]%M\(%L\) - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/logs/log.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy.MM.dd HH:mm:ss} : [%-5level : %thread] [%F]%M\(%L\) - %msg%n</pattern>
		</encoder>
	</appender>

	<springProfile name="dev">
		<root level="DEBUG">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="STDERR" />
		</root>
	</springProfile>
	
	<springProfile name="env">
		<root level="DEBUG">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="dailyRollingFileAppender" />
		</root>
	</springProfile>
	
	<!-- application.properties의 spring.profiles.active= 설정에 따른 로그 출력 -->
	<springProfile name="dev">
		<logger name="org.springframework.boot" level="INFO"/>
		<logger name="org.springframework.web" level="INFO"/>
		<logger name="org.etri" level="DEBUG"/>
	</springProfile>
	
	<springProfile name="env">
		<logger name="org.springframework.boot" level="WARN"/>
		<logger name="org.springframework.web" level="INFO"/>
		<logger name="org.etri" level="INFO"/>
	</springProfile>
</configuration>