<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">
<div class="container-fluid" layout:fragment="content">
    <style type="text/css">
        .hover{background-color:#fdf7df;}
        .graytd{background-color:#fcfcfc;}
    </style>

    <script type="text/javascript">
        $(function() {

            $("#docsTr tr").hover(
                function () {
                    $(this).children().removeClass('graytd');
                    $(this).addClass('hover');

                },
                function () {
                    $(this).removeClass('hover');
                    $(this).children().addClass('graytd');
                }
            );
        });

        function loadDetailView(no,board_no){
            var docs_type = $("#"+board_no).children("#docs").text();
            var docsStatus = $("#docsStatus").val();
            location.href = "/home/docs/reporting-list/detail-view/"+docs_type+"/"+docsStatus+"/"+no;
        }

    </script>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">결재 관리</li>
        <li class="breadcrumb-item active"><a href="#">결재 해야될 문서</a></li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-file"></i> 결재대기 문서
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <input type="hidden" id="msg" th:value="${msg}">
			<input type="hidden" id="docsStatus" th:value="${docsStatus}">
                <table class="table table-bordered" id="dataTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>소속회사</th>
                        <th>부서</th>
                        <th>직위</th>
                        <th>결재 종류</th>
                        <th>결재 시안 날짜</th>
                    </tr>
                    </thead>
                    <tbody id="docsTr">
                    <tr th:if="${size} == '0'">
						<td colspan=7>데이터가 없습니다.</td>
					</tr>
                    <tr th:unless="${size} == '0'" th:each="docs : ${list}"
						th:onclick="|loadDetailView(${docs.no},${docs.board_no})|" th:id="${docs.board_no}">
						<td th:text="${docs.board_no}">1</td>
						<td th:text="${docs.name}">1</td>
						<td th:text="${docs.company}">두두원</td>
						<td th:text="${docs.dept_name}">서비스 팀</td>
						<td th:text="${docs.emp_rank}">연구원</td>
						<td id="docs" th:if="${docs.docs_type eq '휴가' }" th:text="휴가" style="color: #3d1aff;">휴가</td>
						<td id="docs" th:if="${docs.docs_type eq '출장' }" th:text="출장" style="color: #ff2f1b;">출장</td>
						<td th:text="${docs.reg_date}">2019-07-16</td>
					</tr>
                    </tbody>
                </table>
				<div class="row">
					<div class="col-sm-12 col-md-7">
						<ul class="pagination">
							<tr th:if="${pageHandler.prev}">
								<li class="page-item"><a class="page-link"
														 th:href="@{'/home/docs/reporting-list/'+${docsStatus}+'/'+${pageHandler.getStartPage()-1}}">Previous</a></li>
							</tr>
							<th:block th:if="${size} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
								<li class="page-item">
									<a class="page-link" th:text="${index.current}"
									   th:href="@{'/home/docs/reporting-list/'+${docsStatus}+'/'+${index.current}}">1</a>
								</li>
							</th:block>

							<tr th:if="${pageHandler.next}">
								<li class="page-item"><a class="page-link"
														 th:href="@{'/home/docs/reporting-list/'+${docsStatus}+'/'+${pageHandler.getEndPage()+1}}">Next</a></li>
							</tr>
						</ul>
					</div>
				</div>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated at 11:59 PM</div>
    </div>
</div>
</html>