<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">

<div class="container-fluid" layout:fragment="content">
	<!--datepicker-->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script type="text/javascript">
		function okFun(){
			if(confirm('승인 하시겠습니까?')){
				var no = $("#hidden_holiday_no").val();
				location.href = "/home/docs/approval/holiday/"+no+"/y";
			}
		}
		function rejectFun(){
			if(confirm('반려 하시겠습니까?')){
				var no = $("#hidden_holiday_no").val();
				location.href = "/home/docs/approval/holiday/"+no+"/n";
			}
		}
		function backFun(){
			window.history.back();
		}
		function doPrint(printText){
		     var win = window.open();
		      win.document.open();
		      win.document.write(printText);		      
		      win.document.close();
		      win.focus();// Required for IE
		      win.print();
		      win.close();	      
		}
	</script>
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			결재 해야될 문서
		</li>
		<li class="breadcrumb-item active" style="color: #007bff;">문서 결재</li>
	</ol>
	<!-- Area Chart Example-->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-file"></i>
			휴가 결재 승인/반려</div>
		<div class="card-body">
				<input type="hidden" id="hidden_holiday_no" name="no" th:value="${holidayVO.no}">
				<div class="form-group row">
					<label for="dept_name" class="col-sm-2 col-form-label">소속  :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width:200px;" class="form-control" id="dept_name" name="dept_name" th:value="${holidayVO.dept_name}">
					</div>
				</div>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">이름  :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width:200px;" class="form-control" id="name" name="name" th:value="${holidayVO.name}">
					</div>
				</div>
				<div class="form-group row">
					<label for="rank" class="col-sm-2 col-form-label">직위  :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width:200px;" class="form-control" id="rank" name="rank" th:value="${holidayVO.emp_rank}">
					</div>
				</div>
				<div class="form-group row">
					<label for="rank" class="col-sm-2 col-form-label">종류  :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width:200px;" class="form-control" id="holiday_type" name="holiday_type" th:value="${holidayVO.holiday_type}">
					</div>
				</div>

				<div class="form-group row" th:if="${holidayVO.holiday_reason} != ''">
					<label for="holiday_reason" class="col-sm-2 col-form-label">사유  :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width:300px;" class="form-control" id="holiday_reason" name="holiday_reason"
							   th:value="${holidayVO.holiday_reason}">
					</div>
				</div>

				<div class="form-group row" th:if="${holidayVO.phone} != null">
					<label for="phone" class="col-sm-2 col-form-label">비상연락망  :</label>
					<div class="col-sm-10">
							<input type="text" readonly style="width:200px;" class="form-control"
								   id="phone" name="phone" th:value="${holidayVO.phone}">
					</div>
				</div>

				<div class="form-group row">
					<label for="replacement" class="col-sm-2 col-form-label">대리 업무자  :</label>
					<div class="col-sm-10">
						<input readonly
							   type="text" style="width:300px;" class="form-control" id="replacement" name="replacement"
							   th:value="${holidayVO.replacement}">
					</div>
				</div>
				<div class="form-group row">
					<label for="startDay" class="col-sm-2 col-form-label">휴가 시작일  :</label>
					<div class="col-sm-6">
						<input readonly
							   type="text" style="width:300px;" class="form-control" id="startDay" name="holiday_start" th:value="${holidayVO.holiday_start}" >
					</div>
				</div>
				<div class="form-group row">
					<label for="endDay" class="col-sm-2 col-form-label">휴가 종료일  :</label>
					<div class="col-sm-6">
						<input readonly type="text" style="width:300px;" class="form-control"  id="endDay" name="holiday_end" th:value="${holidayVO.holiday_end}">
					</div>
				</div>
				<!--Submit -->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10" th:if="${roleName eq 'USER' }">
						<button class="btn btn-secondary" type="button" style="width: 100px;"
								onclick="backFun()">뒤로 가기</button>
						<button class="btn btn-primary" type="button" style="width: 100px;"
								onclick="okFun()">승인 하기</button>
						<button class="btn btn-danger" type="button" style="width: 100px;"
								onclick="rejectFun()">반려 하기</button>
					</div>
					<div class="col-sm-offset-2 col-sm-10" th:if="${roleName eq 'MANAGER' }">
						<button class="btn btn-secondary" type="button" style="width: 100px;"
								onclick="backFun()">홈으로</button>
						<button class="btn btn-primary" type="button" style="width: 150px;"
								onclick="doPrint(document.getElementById('printArea').innerHTML)">프린트</button>
					</div>
				</div>
		</div>
		<div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
		<!-- Print HTML area -->
 		<div style="display:block; width: 21cm; min-height: 29.7cm; 
        padding: 2cm; margin: 0 auto; background:#eee; margin: 0; border: initial;
        width: initial; min-height: initial; box-shadow: initial; background: initial;
        page-break-after: always;" 
        id="printArea">           
                <table style="width: 100%; border: 2px solid #444444; border-collapse: collapse; border-spacing: 0;">
                  <tr>
                      <td rowspan="2" style="border: 1px solid #444444; 
                      padding: 10px; text-align: center; font-size: 32px; width:60%;">휴가신청서</td>
                      <td style="border: 1px solid #444444; padding: 10px; text-align: center; width:13%; font-size: 16px;">담당</td>
                      <td style="border: 1px solid #444444; padding: 10px; text-align: center; width:13%; font-size: 16px;">과장</td>
                      <td style="border: 1px solid #444444; padding: 10px; text-align: center; width:14%; font-size: 16px;">대표이사</td>
                  </tr>
                  <tr>
                      <td style="border: 1px solid #444444; padding: 30px;"></td>
                      <td style="border: 1px solid #444444; padding: 30px;"></td>
                      <td style="border: 1px solid #444444; padding: 30px;"></td>
                  </tr>
                </table>
                <table style="width: 100%; border: 2px solid #444444; margin: 5% 0% 0% 0%; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">소&nbsp;&nbsp;속</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.dept_name}">서비스기술팀</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">성&nbsp;&nbsp;명</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.name}">현상원</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">직&nbsp;&nbsp;위</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.emp_rank}">연구원</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">종&nbsp;&nbsp;류</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.holiday_type}">연차</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">사&nbsp;&nbsp;유</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.holiday_reason}">개인사유</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">기&nbsp;&nbsp;간</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="|${holidayVO.holiday_start} ~ ${holidayVO.holiday_end}|">2019-07-18 ~ 2019-07-20</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">대리업무자</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.replacement}">아이유</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: center; width:30%; font-size: 16px;">비상연락망</td>
                        <td style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;" th:text="${holidayVO.phone}">010-4097-0823</td>
                    </tr>
                  </table>
                  <div style="font-size: 14px; color: gray;  margin: 7% 0% 0% 0%;">위와 같이 휴가를 신청하오니 허락하여 주시기 바랍니다.</div>
                  <div style="margin: 10% 0% 0% 45%;"><strong style="font-size: 14px;" th:text="${holidayVO.holiday_reg_date}">2019.07.18</strong></div>
                  <div style="margin: 10% 0% 0% 67%;">
                      <table>
                         <tr>
                           <td>부서명&nbsp;:</td>
                           <td th:text="${holidayVO.dept_name}">서비스기술팀</td>
                         </tr>
                         <tr>
                          <td style="padding: 10px;">성&nbsp;명&nbsp;:</td>
                          <td style="padding: 10px;" th:text="${holidayVO.name}">현상원</td>
                          <td rowspan="2" style="padding: 10px;" id="sing_img">
							<img style="width: 120px; height: auto;"
							th:src="@{/home/emp/download-img}" alt="싸인 이미지" /> (인)
                          </td>                         
                         </tr>
                      </table>
                  </div>
                  <div style="margin: 15% 0% 0% 38%;"><strong style="font-size: 24px;">주식회사 두두원</strong></div>
            </div>  
		<!-- /#Print HTML area -->
	</div>
</div>

</html>