<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}">

<div class="container-fluid" layout:fragment="content">
	<!--datepicker-->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script type="text/javascript" th:src="@{/js/jquery.printElement.min.js}"></script>  
	<script type="text/javascript">
		$(function() {
			getDeptName();
			showApprovalLine();
			
			var mApprover = $("#hidden_m_approver").val();
			var fApprover = $("#hidden_f_approver").val();
			var holiday_status = $("#docsStatus").val();
			var myEmpNo= $("#myEmpNo").val();

			if(holiday_status == 'i'){//중간 승인자가 있을 경우
				if(mApprover != myEmpNo){		
					$("#alert").css('display','block');
					$("#alert").html('1차승인자로 부터 승인처리후 승인,반려 여부를 하실 수 있습니다.');
					$("#ok").prop('disabled',true);
					$("#reject").prop('disabled',true);
				}
			}
			if(holiday_status == 'i' && fApprover != '' ){//중간승인자와 최종승인자가 존재, 중간승인자 전결 표시
				if(mApprover == myEmpNo){
					$("#btnForm").append("<button class='btn btn-primary' type='button' style='width: 100px;' onclick='dignityFun()'>전결</button>");
				}
			}		
			if(holiday_status == 'a'){
				if(fApprover != myEmpNo){
					$("#alert").css('display','block');
					$("#alert").html('1차승인을 하셨습니다. 최종결재자의 응답을 기다리는 중입니다.');
					$("#ok").prop('disabled',true);
					$("#reject").prop('disabled',true);
				}
			}
			if(holiday_status == 'd'){//전결 이라면
				var IP = $("#IP").val();
				var PORT = $("#PORT").val();
				$("#myImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img' alt='싸인 이미지' />");
				$('#mApproverRank').html($('#'+mApprover).attr('name'));
				$('#fApproverRank').html($('#'+fApprover).attr('name'));
				$("#mApproverImg").html('전결');
			}
			
			if(holiday_status == 'y'){
				imageAppend(myEmpNo,mApprover,fApprover);
			}
		});
		
		function showApprovalLine(){
			var hidden_m_approver = $("#hidden_m_approver").val();
			var hidden_f_approver = $("#hidden_f_approver").val();
			
			if(hidden_m_approver == '' && hidden_f_approver == ''){//중간,최종 승인자가 없음
				$("#m_approver").val('null').attr("selected", true);
				$("#f_approver").val('null').attr("selected", true);
			}
			
			if(hidden_m_approver == '' && hidden_f_approver != ''){ //최종결재자는 있는데 중간결재자가 없는경우
				$("#m_approver").val('null').attr("selected", true);
				$("#f_approver").val(hidden_f_approver).attr("selected", true);
			}
			
			if(hidden_m_approver != '' && hidden_f_approver != ''){ //최종결재자는 있는데 중간결재자가 없는경우
				$("#m_approver").val(hidden_m_approver).attr("selected", true);
				$("#f_approver").val('null').attr("selected", true);
			}
			
			if(hidden_m_approver != '' && hidden_f_approver != ''){//중간,최종 승인자가 없음
				$("#m_approver").val(hidden_m_approver).attr("selected", true);
				$("#f_approver").val(hidden_f_approver).attr("selected", true);
			}
			
		}
		
		function getDeptName(){
			var dept_name = $("#dept_name").val();
			var jsonData = {
				"dept_name" : dept_name
			}
			$.ajax({
				type: 'POST',
				contentType: "application/json",
				url:'/home/docs/find/dept',
				data: JSON.stringify(jsonData),
				dataType: 'json',
				async: false,
				cache : true,
				success: function(data){
					for(var index=0 in data){
						$('#m_approver').append("<option id='"+data[index].no+"' name='"+data[index].emp_rank+"' value='"+data[index].no+"' >"+data[index].name+"</option>");
						$('#f_approver').append("<option id='"+data[index].no+"' name='"+data[index].emp_rank+"' value='"+data[index].no+"' >"+data[index].name+"</option>");
					}
				},
				error:function(xhr,status,error){
					console.log('error:'+error);
				}
			});//end ajax
		}
		
		function imageAppend(myNo,mApproverNo,fApproverNo){
			var IP = $("#IP").val();
			var PORT = $("#PORT").val();		
			var mRank = '공석';
			var fRank = '공석';		
			
			$("#myImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img' alt='싸인 이미지' />");
			if(mApproverNo == ''){//중간결재자없는 경우 
				$('#mApproverRank').html("공석");
				$("#mApproverImg").html("공석");
			}else{
				$('#mApproverRank').html($('#'+mApproverNo).attr('name'));
				$("#mApproverImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img/"+mApproverNo+"' alt='싸인 이미지' />");	
			}
			$("#fApproverImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img/"+fApproverNo+"' alt='싸인 이미지' />");
			$('#fApproverRank').html($('#'+fApproverNo).attr('name'));

		}
		
		function dignityFun(){
			$("#docsStatus").val('d');
			if(confirm('전결하시겠습니까?')){
				$("#holidayForm").submit();
			}		
		}	
		function okFun() {
			if (confirm('승인 하시겠습니까?')) {
				$("#holidayForm").submit();
			}
		}
		function rejectFun() {
			if (confirm('반려 하시겠습니까?')) {
				var no = $("#hidden_holiday_no").val();
				location.href = "/home/docs/approval/holiday/" + no + "/n";
			}
		}
		function backFun() {
			window.history.back();
		}
		function doPrint() {
			$("#printArea").printThis();
		}
	</script>
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">결재 해야될 문서</li>
		<li class="breadcrumb-item active" style="color: #007bff;">문서 결재</li>
	</ol>
	<!-- Area Chart Example-->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-file"></i> 휴가 결재 승인/반려
		</div>
		<div class="card-body">
		<!--결재 라인정보  -->
			<input type="hidden" id="hidden_m_approver" th:value="${holidayVO.m_approver}">
			<input type="hidden" id="hidden_f_approver" th:value="${holidayVO.f_approver}">
			<input type="hidden" id="myEmpNo" th:value="${empNo}">
			<input type="hidden" id="IP" th:value="${IP}">
			<input type="hidden" id="PORT" th:value="${PORT}">
			<form id="holidayForm"
				th:action="@{/home/docs/approval/holiday/confirm}" th:method="post">
				<!--문서번호  -->
				<input type="hidden" id="hidden_holiday_no" name="no" th:value="${holidayVO.no}">
				<input type="hidden" id="docsStatus" name="holiday_status" th:value="${docsStatus}">				
				<!--회원번호  -->
				<input type="hidden" id="hidden_emp_no" name="emp_no" th:value="${holidayVO.emp_no}">
				<div class="form-group row">
					<label for="dept_name" class="col-sm-2 col-form-label">소속 :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width: 200px;"
							class="form-control" id="dept_name" name="dept_name"
							th:value="${holidayVO.dept_name}">
					</div>
				</div>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">이름 :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width: 200px;"
							class="form-control" id="name" name="name"
							th:value="${holidayVO.name}">
					</div>
				</div>
				<div class="form-group row">
					<label for="rank" class="col-sm-2 col-form-label">직위 :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width: 200px;"
							class="form-control" id="rank" name="rank"
							th:value="${holidayVO.emp_rank}">
					</div>
				</div>
				<div class="form-group row">
					<label for="rank" class="col-sm-2 col-form-label">종류 :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width: 200px;"
							class="form-control" id="holiday_type" name="holiday_type"
							th:value="${holidayVO.holiday_type}">
					</div>
				</div>

				<div class="form-group row"
					th:if="${holidayVO.holiday_reason} != ''">
					<label for="holiday_reason" class="col-sm-2 col-form-label">사유
						:</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							class="form-control" id="holiday_reason" name="holiday_reason"
							th:value="${holidayVO.holiday_reason}">
					</div>
				</div>

				<div class="form-group row" th:if="${holidayVO.phone} != null">
					<label for="phone" class="col-sm-2 col-form-label">비상연락망 :</label>
					<div class="col-sm-10">
						<input type="text" readonly style="width: 200px;"
							class="form-control" id="phone" name="phone"
							th:value="${holidayVO.phone}">
					</div>
				</div>

				<div class="form-group row">
					<label for="replacement" class="col-sm-2 col-form-label">대리
						업무자 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							class="form-control" id="replacement" name="replacement"
							th:value="${holidayVO.replacement}">
					</div>
				</div>
				<div class="form-group row">
					<label for="startDay" class="col-sm-2 col-form-label">휴가
						시작일 :</label>
					<div class="col-sm-6">
						<input readonly type="text" style="width: 300px;"
							class="form-control" id="startDay" name="holiday_start"
							th:value="${holidayVO.holiday_start}">
					</div>
				</div>
				<div class="form-group row">
					<label for="endDay" class="col-sm-2 col-form-label">휴가 종료일
						:</label>
					<div class="col-sm-6">
						<input readonly type="text" style="width: 300px;"
							class="form-control" id="endDay" name="holiday_end"
							th:value="${holidayVO.holiday_end}">
					</div>
				</div>
				<!--중간 결재자-->
				<div class="form-group row">
					<label for="m_approver" class="col-sm-2 col-form-label">중간 결재자 :</label>
					<div class="col-sm-10">
						<select class="browser-default custom-select" style="width:300px;" id="m_approver" name="m_approver">
							<option value="non">결재자를 선택하세요.</option>
							<option value="null">해당 없음</option>
						</select>
					</div>
				</div>
				<!--최종 결재자-->
				<div class="form-group row">
					<label for="f_approver" class="col-sm-2 col-form-label">최종 결재자 :</label>
					<div class="col-sm-10">
						<select class="browser-default custom-select" style="width:300px;" id="f_approver" name="f_approver">
							<option value="non">결재자를 선택하세요.</option>
							<option value="null">해당 없음</option>
						</select>
					</div>
				</div>
			</form>
			<!--Submit -->
			<div class="form-group">
				<div id="btnForm" class="col-sm-offset-2 col-sm-10" th:if="${roleName ne 'MANAGER'}">
					<div id="alert" class="alert alert-danger" style="display: none;"></div>
					<button class="btn btn-secondary" type="button" style="width: 100px;" onclick="backFun()">뒤로 가기</button>
					<button id="ok" class="btn btn-primary" type="button" style="width: 100px;" onclick="okFun()">승인 하기</button>
					<button id="reject" class="btn btn-danger" type="button" style="width: 100px;" onclick="rejectFun()">반려 하기</button>					
				</div>
				<div class="col-sm-offset-2 col-sm-10" th:if="${roleName eq 'MANAGER'}">
					<button class="btn btn-secondary" type="button" style="width: 100px;" onclick="backFun()">홈으로</button>
					<button class="btn btn-primary" type="button" style="width: 150px;" onclick="doPrint()">프린트</button>
				</div>
			</div>
		</div>
		<div class="card-footer small text-muted"
			th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
		<!-- Print HTML area -->
		<div style="display: none;">
		 <div
			style="width: 21cm; min-height: 29.7cm; padding: 2cm; margin: 0 auto; background: #eee; margin: 0; border: initial; width: initial; min-height: initial; box-shadow: initial; background: initial; page-break-after: always;"
			id="printArea">
			<table
				style="width: 100%; border: 2px solid #444444; border-collapse: collapse; border-spacing: 0;">
				<tr>
					<td rowspan="2"
						style="border: 1px solid #444444; padding: 10px; text-align: center; font-size: 32px; width: 60%;">휴가신청서</td>
					<td
						style="border: 1px solid #444444; padding: 10px; text-align: center; width: 13%; font-size: 16px;">담당</td>
					<td
						id="mApproverRank" style="border: 1px solid #444444; padding: 10px; text-align: center; width: 13%; font-size: 16px;"></td>
					<td
						id="fApproverRank" style="border: 1px solid #444444; padding: 10px; text-align: center; width: 14%; font-size: 16px;"></td>
				</tr>
				<tr>
					<td id="myImg" style="border: 1px solid #444444; padding: 30px;">
					
					</td>
					<td id="mApproverImg" style="border: 1px solid #444444; padding: 30px;">
					
					</td>
					<td id="fApproverImg" style="border: 1px solid #444444; padding: 30px;">
				
					</td>
				</tr>
			</table>
			<table
				style="width: 100%; border: 2px solid #444444; margin: 5% 0% 0% 0%; border-collapse: collapse; border-spacing: 0;">
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">소&nbsp;&nbsp;속</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.dept_name}">서비스기술팀</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">성&nbsp;&nbsp;명</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.name}">현상원</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">직&nbsp;&nbsp;위</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.emp_rank}">연구원</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">종&nbsp;&nbsp;류</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.holiday_type}">연차</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">사&nbsp;&nbsp;유</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.holiday_reason}">개인사유</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">기&nbsp;&nbsp;간</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="|${holidayVO.holiday_start} ~ ${holidayVO.holiday_end}|">2019-07-18
						~ 2019-07-20</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">대리업무자</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.replacement}">아이유</td>
				</tr>
				<tr>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: center; width: 30%; font-size: 16px;">비상연락망</td>
					<td
						style="border: 1px solid #444444; padding: 13px; text-align: left; font-size: 16px;"
						th:text="${holidayVO.phone}">010-4097-0823</td>
				</tr>
			</table>
			<div style="font-size: 14px; color: gray; margin: 7% 0% 0% 0%;">위와
				같이 휴가를 신청하오니 허락하여 주시기 바랍니다.</div>
			<div style="margin: 10% 0% 0% 45%;">
				<strong style="font-size: 16px;"
					th:text="${holidayVO.holiday_reg_date}">2019.07.18</strong>
			</div>
			<div style="margin: 10% 0% 0% 60%;">
				<table>
					<tr>
						<td style="text-align: right;">부서명&nbsp;:&nbsp;</td>
						<td style="width: 50%;" th:text="${holidayVO.dept_name}">서비스기술팀</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 10px;">성&nbsp;명&nbsp;:</td>
						<td style="padding: 10px; width: 50%;" th:text="${holidayVO.name}">현상원</td>
						<td rowspan="2" style="text-align: left; padding: 10px; width: 30%;" id="sing_img">						
								<img style="width: 120px; height: auto; position: absolute;" th:src="@{/home/emp/download-img}" alt="싸인 이미지" />
								<strong style="padding: 40px; position: absolute;">(인)</strong>					
						</td>
					</tr>
				</table>
			</div>
			<div style="margin: 15% 0% 0% 38%;">
				<strong style="font-size: 24px;">주식회사 두두원</strong>
			</div>
		</div>
	</div>
		<!-- /#Print HTML area -->
	</div>
</div>
</html>