<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">

<div class="container-fluid" layout:fragment="content">
	<script type="text/javascript">

		function doCheckForm() {
			var id = $("#id");
			var name = $("#name");
			var email = $("#email");
			var phone = $("#phone");

			var isCheck = true;

			if (id.val().trim() === "") {
				alert("아이디를 입력해주세요.");
				id.focus();
				isCheck = false;
				return isCheck;
			}
			if (name.val().trim() === "") {
				alert("이름을 입력해주세요.");
				name.focus();
				isCheck = false;
				return isCheck;
			}

			if(email.val().trim() === ""){
				alert("이메일을 입력해주세요.");
				email.focus();
				isCheck = false;
				return isCheck;
			}
			if(phone.val().trim() === ""){
				alert("연락처를 입력해주세요.");
				phone.focus();
				isCheck = false;
				return isCheck;
			}

			if (isCheck === true) {
				if(!confirm("수정하시겠습니까?")){
					return;
				}
				$('#empvo').submit();
			}
		}
			
		function imgCheck(){	
			var imgName = $("#imgName");		
			
			if(imgName.val() == ""){
				alert("이미지 사진을 업로드 해주세요.");
				imgName.focus();
				return false;
			}
			
			if(!confirm("이미지를 변경 하시겠습니까?")){
				return;
			}
			sendImage();
		}
		
		function sendImage(){			

			var formData = new FormData();
			formData.append('img', $('input[type=file]')[0].files[0]);
			formData.append('no', $('#hidden_no').val());
			
			$.ajax({
				url:'/home/emp/upload-img',
				type: 'POST',
				processData: false,
				contentType: false,
				data: formData,
				dataType: 'text',
				success: function(data){
					if(data == 'success'){
						alert('업로드 완료');
						location.reload();
					}else{
						alert('업로드 실패');
					}					
                },
                error:function(){
                	alert('업로드 실패');           
                }
			});
		}
		
		function backFun(){
			window.history.back();
		}
		
	</script>
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">MY 정보</li>
		<li class="breadcrumb-item" style="color: #007bff;">내정보 변경</li>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-user"></i> 사원 수정 양식
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<!--Form -->
				<!--/*@thymesVar id="empVO" type="com.dodo.system.vo.EmpVO"*/-->
				<form class="form-horizontal" th:action="@{/home/emp/my-info}"
					  th:object="${empVO}" th:method="post" id="empvo">
					<!--사원 번호-->
					<input type="hidden" id="emp_no" name="no" th:value="${empNo}">
					<!--아이디 -->
					<div class="form-group row">
						<label class="control-label col-sm-2" for="id">아이디 :</label>
						<div class="col-md-4">
							<input autocomplete="off" type="text" class="form-control" id="id"
								   name="id" th:value="${empVO.id}">
						</div>
					</div>
					<!--이름 -->
					<div class="form-group row">
						<label class="control-label col-sm-2" for="name">이름
							:</label>
						<div class="col-md-4">
							<input autocomplete="off" type="text" class="form-control"
								   id="name" name="name" th:value="${empVO.name}">
						</div>
					</div>
					<!--이메일 -->
					<div class="form-group row">
						<label class="control-label col-sm-2" for="email">이메일 :</label>
						<div class="col-md-4">
							<input autocomplete="off" type="text" class="form-control" id="email"
								   name="email" th:value="${empVO.email}">
							<p th:if="${#fields.hasErrors('email')}"
							   th:errors="*{email}" class="alert alert-danger"></p>					   
						</div>
					</div>
					<!--연락처 -->
					<div class="form-group row">
						<label class="control-label col-sm-2" for="phone">연락처 :</label>
						<div class="col-md-4">
							<input autocomplete="off" type="text" class="form-control" id="phone"
								   name="phone" th:value="${empVO.phone}">
						</div>
					</div>
					<!--readonly-->
					<!--소속회사 -->
					<div class="form-group row">
						<label for="dept_name" class="col-sm-2 col-form-label">소속  :</label>
						<div class="col-sm-10">
							<input type="text" readonly style="width:200px;" class="form-control-plaintext" id="company" th:value="${empVO.company}">
						</div>
					</div>
					<!-- 소속부서 -->
					<div class="form-group row">
						<label for="dept_name" class="col-sm-2 col-form-label">소속부서  :</label>
						<div class="col-sm-10">
							<input type="text" readonly style="width:200px;" class="form-control-plaintext" id="dept_name"  th:value="${empVO.dept_name}">
						</div>
					</div>
					<!--직급-->
					<div class="form-group row">
						<label for="dept_name" class="col-sm-2 col-form-label">직급  :</label>
						<div class="col-sm-10">
							<input type="text" readonly style="width:200px;" class="form-control-plaintext" id="emp_rank" th:value="${empVO.emp_rank}">
						</div>
					</div>
					<!-- 휴가일-->
					<div class="form-group row">
						<label for="dept_name" class="col-sm-2 col-form-label">휴가일  :</label>
						<div class="col-sm-10">
							<input type="text" readonly style="width:200px;" class="form-control-plaintext" id="holiday"  th:value="${empVO.holiday}">
						</div>
					</div>
					</form>
					<!--Form -->
					<!--싸인 이미지 -->
					<div class="form-group row">
						<label for="dept_name" class="col-sm-2 col-form-label">싸인 이미지  :</label>
						<div class="col-sm-10">
						<img style="border: 1px solid; width: 100px; height: auto;" th:src="@{/home/emp/download-img}" alt="싸인 이미지"/>
							<form id="imgForm" enctype="multipart/form-data">				
								<input type="hidden" id="hidden_no" name="no" th:value="${empVO.no}">
								<input id="imgName" style="width:250px; margin: 20px 0 0 0;" type="file" name="img">
								<button class="btn btn-warning" type="button" onclick="imgCheck()">이미지 변경</button>
							</form>
						</div>			
					</div>
					<!--결재라인 수정불가(결재라인은 ADMIN만 가능)-->

					<!--Submit -->
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-secondary" type="button"
							style="margin:20px 0 0 150px; width: 100px;" onclick="backFun()">뒤로 가기</button>
						<button class="btn btn-primary" type="button" style="margin: 20px 0 0 10px;  width: 200px;"
							onclick="doCheckForm()">내정보  수정</button>	
						</div>
					</div>
			</div>
		</div>
		<div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
	</div>
</div>

</html>