<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default}">

<div class="container-fluid" layout:fragment="content">
    <script type="text/javascript">
    
        function doCheckForm() {
            var password = $("#password");
            var c_password = $("#c_password");
            var isCheck = true;
            
            if (password.val().trim() !== c_password.val().trim()) {
                alert("입력하신 비밀번호가 서로 다릅니다.");
                c_password.focus();
                isCheck = false;
                return isCheck;
            }
            if (isCheck === true) {
            	if(!confirm("비밀번호는 수정시 다시 로그인 해야 합니다.")){
					return;
				}
            	$('#empvo').submit();
            }
        }
        
        function backFun(){
    		window.history.back();
    	}
        
    </script>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">MY 정보</li>
        <li class="breadcrumb-item" style="color: #007bff;">비밀번호 변경</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-lock">비밀번호 변경</i>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!--Form -->
                <!--/*@thymesVar id="empVO" type="com.dodo.system.vo.EmpVO"*/-->
                <form id="empvo" class="form-horizontal" th:action="@{/home/emp/my-info/password}"
                      th:object="${empVO}" th:method="post">
                      <!--사원 번호-->
					<input type="hidden" id="emp_no" name="no" th:value="${empNo}">
                    <!--Password -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">비밀번호
                            :</label>
                        <div class="col-md-4">
                            <input autocomplete="off" th:field="*{password}" type="password"
                                   class="form-control" id="password" name="password">
                            <p th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}" class="alert alert-danger"></p>
                        </div>
                    </div>
                    <!--Re_Password -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="c_password">비밀번호
                            재입력 :</label>
                        <div class="col-md-4">
                            <input autocomplete="off"  th:field="*{c_password}" type="password"
                                   class="form-control" id="c_password" name="c_password">
                            <p th:if="${#fields.hasErrors('c_password')}"
                               th:errors="*{c_password}" class="alert alert-danger"></p>
                        </div>
                    </div>
                    <!--Submit -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-secondary" type="button"
								style="width: 100px;" onclick="backFun()">뒤로 가기</button>
							<button class="btn btn-danger" type="button" 
                            style="margin: 10px 0 0 150px;  width: 180px;" onclick="doCheckForm()">비밀번호 수정</button>
                        </div>
                    </div>
                </form>
                <!--Form -->
            </div>
        </div>
       <div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
    </div>
</div>

</html>