<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">

<div class="container-fluid" layout:fragment="content">
	<!--datepicker-->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script type="text/javascript" th:src="@{/js/jquery.printElement.min.js}"></script> 
	<script type="text/javascript">
		$(function() {
			getDeptName();
			showApprovalLine();
			
			var mApprover = $("#hidden_m_approver").val();
			var fApprover = $("#hidden_f_approver").val();
			var trip_status = $("#docsStatus").val();
			var myEmpNo= $("#myEmpNo").val();

			if(trip_status == 'i'){//중간 승인자가 있을 경우
				if(mApprover != myEmpNo){		
					$("#alert").css('display','block');
					$("#alert").html('협조자로 부터 승인처리후 승인,반려 여부를 하실 수 있습니다.');
					$("#ok").prop('disabled',true);
					$("#reject").prop('disabled',true);
				}
			}		
			if(trip_status == 'a'){
				if(fApprover != myEmpNo){
					$("#alert").css('display','block');
					$("#alert").html('승인을 하셨습니다. 결재자의 응답을 기다리는 중입니다.');
					$("#ok").prop('disabled',true);
					$("#reject").prop('disabled',true);
				}
			}
			
			if(trip_status == 'y'){
				imageAppend(myEmpNo,mApprover,fApprover);
			}
					
			/*출장인원수 만큼 보여주기 */
			var h_team_cnt = $("#teamCnt").val();
			if(h_team_cnt > 1){
				for(var x=1; x<h_team_cnt; x++){
					var name = $("#name"+x).val();
					var dept_name = $("#dept_name"+x).val();
					var emp_rank = $("#rank"+x).val();
					var private_num = $("#private_num"+x).val();
					var replacement = $("#replacement"+x).val();
					var account = $("#account"+x).val();

					$("#names").append("<label name='temp_label' class='col-sm-2 col-form-label'>이름 "+x+":</label> <div class='col-sm-10' name='temp_div'> <input readonly type='text' style='width: 300px;'class='form-control' id='name"+x+"' name='name"+x+"' value='"+name+"'></div>");
					$("#dept_names").append("<label for='dept_name' name='temp_label' class='col-sm-2 col-form-label'>소속부서 "+x+":</label> <div class='col-sm-10' name='temp_div'> <input readonly type='text' style='width: 300px;'class='form-control' id='dept_name"+x+"' name='dept_name"+x+"' value='"+dept_name+"'></div>");
					$("#emp_rankes").append("<label for='emp_rank' name='temp_label'class='col-sm-2 col-form-label'>직급 "+x+":</label><div class='col-sm-10'name='temp_div'><input readonly type='text' style='width: 300px;' class='form-control' id='emp_rank"+x+"' name='emp_rank"+x+"' value='"+emp_rank+"'></div>");
					$("#private_nums").append("<label for='private_num' name='temp_label' class='col-sm-2 col-form-label'>개인번호 "+x+":</label> <div class='col-sm-10' name='temp_div'><input readonly type='text' style='width: 300px;' class='form-control' id='private_num"+x+"' name='private_num"+x+"' value='"+private_num+"'></div>");
					$("#replacementes").append("<label for='replacement' name='temp_label' class='col-sm-2 col-form-label'>직무 대행자 "+x+":</label> <div class='col-sm-10' name='temp_div'> <input readonly type='text' style='width: 300px;' class='form-control' id='replacement"+x+"' name='replacement"+x+"' value='"+replacement+"'></div>");
					$("#accountes").append("<label for='account' name='temp_label' class='col-sm-2 col-form-label'>지급 계좌 "+x+":</label><div class='col-sm-10' name='temp_div'><input readonly type='text' style='width: 300px;' class='form-control' id='account"+x+"' name='account"+x+"' value='"+account+"'></div>");
				}
			}
			var etc_cnt = $("#etcListSize").val();
			if(etc_cnt > 0){
				for(var x=0; x<etc_cnt; x++){
					var g_num = $("#g_num"+x).val();
					var help = $("#help"+x).val();
					var b_num = $("#b_num"+x).val();
					$("#etcArea").append("<div id='addEtc"+x+"'><div class='form-group row'><label class='col-sm-2 col-form-label'>계정 번호 "+x+"  :</label><div class='col-sm-10'><input readonly type='text' style='width: 300px;' class='form-control' id='g_num"+x+"' name='g_num' value='"+g_num+"'></div></div> <div class='form-group row'><label class='col-sm-2 col-form-label'>협조 "+x+" :</label><div class='col-sm-10'><input readonly type='text' style='width: 300px;' class='form-control' id='help"+x+"' name='help' value='"+help+"'></div></div> <div class='form-group row'><label class='col-sm-2 col-form-label'>발의 번호 "+x+" :</label><div class='col-sm-10'><input readonly type='text' style='width: 300px;'class='form-control' id='b_num"+x+"' name='b_num' value='"+b_num+"'></div></div></div>");
				}
			}
		});//init end

		function getDeptName(){
			var dept_name = $("#dept_name").val();
			var jsonData = {
				"dept_name" : dept_name
			}
			$.ajax({
				type: 'POST',
				contentType: "application/json",
				url:'/home/docs/find/dept',
				data: JSON.stringify(jsonData),
				dataType: 'json',
				async: false,
				cache : true,
				success: function(data){
					for(var index=0 in data){
						$('#m_approver').append("<option  value='"+data[index].no+"' >"+data[index].name+"</option>");
						$('#f_approver').append("<option  value='"+data[index].no+"' >"+data[index].name+"</option>");
					}
				},
				error:function(xhr,status,error){
					console.log('error:'+error);
				}
			});//end ajax
		}
		
		function imageAppend(myNo,mApproverNo,fApproverNo){
			var IP = $("#IP").val();
			var PORT = $("#PORT").val();
			$("#myImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img' alt='싸인 이미지' />");
			$("#mApproverImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img/"+mApproverNo+"' alt='싸인 이미지' />");
			$("#fApproverImg").html("<img style='width: 80px; height: auto;' src='http://"+IP+":"+PORT+"/home/emp/download-img/"+fApproverNo+"' alt='싸인 이미지' />");
		}
		
		function showApprovalLine(){
			var hidden_m_approver = $("#hidden_m_approver").val();
			var hidden_f_approver = $("#hidden_f_approver").val();
			
			if(hidden_m_approver == '' && hidden_f_approver == ''){//중간,최종 승인자가 없음
				$("#m_approver").val('null').attr("selected", true);
				$("#f_approver").val('null').attr("selected", true);
			}
			
			if(hidden_m_approver == '' && hidden_f_approver != ''){ //최종결재자는 있는데 중간결재자가 없는경우
				$("#m_approver").val('null').attr("selected", true);
				$("#f_approver").val(hidden_f_approver).attr("selected", true);
			}
			
			if(hidden_m_approver != '' && hidden_f_approver != ''){ //최종결재자는 있는데 중간결재자가 없는경우
				$("#m_approver").val(hidden_m_approver).attr("selected", true);
				$("#f_approver").val('null').attr("selected", true);
			}
			
			if(hidden_m_approver != '' && hidden_f_approver != ''){//중간,최종 승인자가 없음
				$("#m_approver").val(hidden_m_approver).attr("selected", true);
				$("#f_approver").val(hidden_f_approver).attr("selected", true);
			}
			
		}
		
		function okFun(){
			if(confirm('승인 하시겠습니까?')){
				var no = $("#hidden_trip_no").val();
				var docstatus = $("#docsStatus").val();
				location.href = "/home/docs/approval/trip/" + no + "/"+docstatus;
			}
		}
		function rejectFun(){
			if(confirm('반려 하시겠습니까?')){
				var no= $("#hidden_trip_no").val();
				location.href = "/home/docs/approval/trip/" + no + "/n";
			}
		}
		function backFun(){
			window.history.back();
		}
		
		function doPrint(){
			$("#printArea").printThis();
		}
	</script>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			결재 해야될 문서
		</li>
		<li class="breadcrumb-item" style="color: #007bff;">문서 결재</li>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-file"></i>
			출장 결재 승인/반려</div>
		<div class="card-body">
			<!--출장인원 정보-->
			<th:block th:each="docs,index : ${list}">
				<input type="hidden" th:id="|dept_name${index.index}|" th:value="${docs.dept_name}">
				<input type="hidden" th:id="|name${index.index}|" th:value="${docs.name}">
				<input type="hidden" th:id="|rank${index.index}|" th:value="${docs.emp_rank}">
				<input type="hidden" th:id="|private_num${index.index}|" th:value="${docs.private_num}">
				<input type="hidden" th:id="|account${index.index}|" th:value="${docs.account}">
				<input type="hidden" th:id="|replacement${index.index}|" th:value="${docs.replacement}">
			</th:block>
				<input type="hidden" id="teamCnt" name="team_cnt" th:value="${list[0].team_cnt}">
				<input type="hidden" id="hidden_trip_no" name="no" th:value="${tripNo}">
			<!--계정번호 리스트-->
			<th:block th:if="${etcList} != null" th:each="etc,index : ${etcList}">
				<input type="hidden" th:id="|g_num${index.index}|" th:value="${etc.g_num}">
				<input type="hidden" th:id="|help${index.index}|" th:value="${etc.help}">
				<input type="hidden" th:id="|b_num${index.index}|" th:value="${etc.b_num}">
			</th:block>
				<input type="hidden" id="etcListSize" th:value="${etcListSize}">
			<!--문서 상태  -->
				<input type="hidden" id="docsStatus" th:value="${docsStatus}">
			<!--결재라인  -->	
				<input type="hidden" id="hidden_m_approver" th:value="${mApprover}">
				<input type="hidden" id="hidden_f_approver" th:value="${fApprover}">
				<input type="hidden" id="myEmpNo" th:value="${empNo}">
			<!--이미지 주소  -->
				<input type="hidden" id="IP" th:value="${IP}">
				<input type="hidden" id="PORT" th:value="${PORT}">
			<!--신청 번호 -->
				<div class="form-group row">
					<label for="trip_no" class="col-sm-2 col-form-label">신청 번호  :</label>
					<div class="col-sm-10">
						<input readonly autocomplete="off" type="text" style="width:300px;"
							   class="form-control" id="trip_no" name="trip_no"
							   th:value="${list[0].docs_no}">
					</div>
				</div>
				<!--이름  -->
				<div class="form-group row" id="names">
					<label for="name" class="col-sm-2 col-form-label">이름 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="name" name="name0" th:value="${list[0].name}">
					</div>
				</div>
				<!-- 소속부서 -->
				<div class="form-group row" id="dept_names">
					<label for="dept_name" class="col-sm-2 col-form-label">소속부서 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="dept_name" name="dept_name0" th:value="${list[0].dept_name}">
					</div>
				</div>
				<!--직급-->
				<div class="form-group row" id="emp_rankes">
					<label for="emp_rank" class="col-sm-2 col-form-label">직급 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="emp_rank" name="emp_rank0" th:value="${list[0].emp_rank}">
					</div>
				</div>
				<!--개인 번호  -->
				<div class="form-group row" id="private_nums">
					<label for="private_num" class="col-sm-2 col-form-label">개인번호 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="private_num" name="private_num0" th:value="${list[0].private_num}">
					</div>
				</div>
				<!--직무 대행자  -->
				<div class="form-group row" id="replacementes">
					<label for="replacement" class="col-sm-2 col-form-label">직무 대행자 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="replacement" name="replacement0" th:value="${list[0].replacement}">
					</div>
				</div>
				<!--지급 계좌  -->
				<div class="form-group row" id="accountes">
					<label for="account" class="col-sm-2 col-form-label">지급 계좌 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="account" name="account0" th:value="${list[0].account}">
					</div>
				</div>
				<!--출장지 -->
				<div class="form-group row">
					<label for="bt_location" class="col-sm-2 col-form-label">출장 지 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="bt_location" name="location"
							   th:value="${list[0].location}">
					</div>
				</div>
				<!--출장목적 -->
				<div class="form-group row">
					<label for="bt_reason" class="col-sm-2 col-form-label">출장 목적 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="bt_reason" name="reason"
							   th:value="${list[0].reason}">
					</div>
				</div>
				<!--출장기간 07/08 ~ 07/10 -->
				<div class="form-group row">
					<label for="startDay" class="col-sm-2 col-form-label">출장 출발 날짜:</label>
					<div class="col-sm-6">
						<input readonly
							   type="text" style="width:300px;" class="form-control" id="startDay" name="bt_start"
							   th:value="${list[0].bt_start}">
					</div>
				</div>
				<div class="form-group row">
					<label for="endDay" class="col-sm-2 col-form-label">출장 종료 날짜:</label>
					<div class="col-sm-6">
						<input readonly
							   type="text" style="width:300px;" class="form-control"  id="endDay" name="bt_end"
							   th:value="${list[0].bt_end}">
					</div>
				</div>
				<!--식비 -->
				<div class="form-group row">
					<label for="food_money" class="col-sm-2 col-form-label">식비 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="food_money" name="food_money"
							   th:value="${list[0].food_money}">
					</div>
				</div>
				<!--숙박비 -->
				<div class="form-group row">
					<label for="room_charge" class="col-sm-2 col-form-label">숙박비 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="room_charge" name="room_charge"
							   th:value="${list[0].room_charge}">
					</div>
				</div>
				<!--교통비 -->
				<div class="form-group row">
					<label for="tran_cost" class="col-sm-2 col-form-label">교통비 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="tran_cost" name="tran_cost"
							   th:value="${list[0].tran_cost}">
					</div>
				</div>
				<!--현지교통비 -->
				<div class="form-group row">
					<label for="tran_local_cost" class="col-sm-2 col-form-label">현지 교통비 :</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="tran_local_cost" name="tran_local_cost"
							   th:value="${list[0].tran_local_cost}">
					</div>
				</div>
				<!--기타 -->
				<div class="form-group row">
					<label for="etc" class="col-sm-2 col-form-label">기타 금액:</label>
					<div class="col-sm-10">
						<input readonly type="text" style="width: 300px;"
							   class="form-control" id="etc" name="etc"
							   th:value="${list[0].etc}">
					</div>
				</div>
				<!--발의번호,계정번호 -->
				<div id="etcArea">
				</div>
				<!--중간 결재자-->
				<div class="form-group row">
					<label for="m_approver" class="col-sm-2 col-form-label">협조자 :</label>
					<div class="col-sm-10">
						<select class="browser-default custom-select" style="width:300px;" id="m_approver" name="m_approver">
							<option value="non">결재자를 선택하세요.</option>
							<option value="null">해당 없음</option>
						</select>
					</div>
				</div>
				<!--최종 결재자-->
				<div class="form-group row">
					<label for="f_approver" class="col-sm-2 col-form-label">결재자 :</label>
					<div class="col-sm-10">
						<select class="browser-default custom-select" style="width:300px;" id="f_approver" name="f_approver">
							<option value="non">결재자를 선택하세요.</option>
							<option value="null">해당 없음</option>
						</select>
					</div>
				</div>
				<!--Submit -->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10" th:if="${roleName ne 'MANAGER'}">
						<div id="alert" class="alert alert-danger" style="display: none;"></div>
						<button class="btn btn-secondary" type="button" style="width: 100px;" onclick="backFun()">뒤로 가기</button>
						<button id="ok" class="btn btn-primary" type="button" style="width: 100px;" onclick="okFun()">승인 하기</button>
						<button id="reject" class="btn btn-danger" type="button" style="width: 100px;" onclick="rejectFun()">반려 하기</button>
					</div>
					<div class="col-sm-offset-2 col-sm-10" th:if="${roleName eq 'MANAGER'}">
						<button class="btn btn-secondary" type="button" style="width: 100px;" onclick="backFun()">홈으로</button>
						<button class="btn btn-primary" type="button" style="width: 150px;" onclick="doPrint()">프린트</button>
					</div>
				</div>
		</div>
		<div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
		<!-- Print HTML area -->
		<div style="display:none;">
			<div style="width: 21cm; min-height: 29.7cm; 
        padding: 2cm; margin: 0 auto; background:#eee; margin: 0; border: initial;
        width: initial; min-height: initial; box-shadow: initial; background: initial;
        page-break-after: always;" 
        id="printArea">
            <!--제목-->           
            <div>
                <strong style="margin: 0% 0% 0% 40%; font-size: 20px;">국내출장신청서</strong>
                <p style="margin: 5% 0% -2% 21%; font-size: 13px; color: gray;">아래와 같이 (국내) 출장을 신청하오니 승인하여 주시기 바랍니다.</p>
            </div>
            <!--신청일자,신청부서 ..-->    
            <div>
                <table style="width: 100%; margin: 5% 0% 0% 0%; border-collapse: collapse; border-spacing: 0;">
                        <tr>
                                <td style="width:15%;">- 신청 &nbsp;일자 :</td>
                                <td colspan="2" style="text-align: left; width:35%;" th:text="${list[0].trip_reg_date}">2019-07-18</td>
                                <td rowspan="4" style="border: 2px solid #444444; width:5%; text-align: center;" >결<br><br>재</td>
                                <td style="border: 2px solid #444444; text-align: center; width:15%;">담 &nbsp;당</td>
                                <td style="border: 2px solid #444444; text-align: center; width:15%;">협 &nbsp;조</td>
                                <td style="border: 2px solid #444444; text-align: center; width:15%;">대 &nbsp;표</td>
                            </tr>
                            <tr>
                                <td>- 신청 &nbsp;부서 :</td>
                                <td colspan="2" style="text-align: left;" th:text="${list[0].dept_name}">서비스기술팀</td>
                                <td id="myImg" rowspan="3" style="border: 2px solid #444444;"></td>
                                <td id="mApproverImg" rowspan="3" style="border: 2px solid #444444;"></td>
                                <td id="fApproverImg" rowspan="3" style="border: 2px solid #444444;"></td>
                             </tr>
                             <tr>
                                <td>- 신청 &nbsp;번호 :</td>
                                <td colspan="2" style="text-align: left;" th:text="${list[0].docs_no}">256628</td>
                            </tr>
                            <tr>
                                <td>- 수신 &nbsp;부서 :</td>
                                <td colspan="2" style="text-align: left;" th:text="${list[0].dept_name}">서비스기술팀</td>
                            </tr>
                </table>
                <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                    <tr >
                        <td rowspan="5" style="border: 2px solid #444444; width:5%; text-align: center;">출<br>장<br>신<br>청<br>자</td>
                        <td style="border: 2px solid #444444; text-align: center; width:20%;">소 &nbsp;속</td>
                        <td style="border: 2px solid #444444; text-align: center; width:20%;">직 &nbsp;위</td>
                        <td style="border: 2px solid #444444; text-align: center; width:10%;">성 &nbsp;명</td>
                        <td style="border: 2px solid #444444; text-align: center; width:15%;">개인번호</td>
                        <td style="border: 2px solid #444444; text-align: center; width:15%;">직무대행자</td>
                        <td style="border: 2px solid #444444; text-align: center; width:15%;">지급계좌</td>
                    </tr>
                    <tr>                    
                        <td style="border: 2px solid #444444;" th:text="${list[0].dept_name}">소속</td>
                        <td style="border: 2px solid #444444;" th:text="${list[0].emp_rank}">직위</td>
                        <td style="border: 2px solid #444444;" th:text="${list[0].name}">성명</td>
                        <td style="border: 2px solid #444444;" th:text="${list[0].private_num}">개인 번호</td>
                        <td style="border: 2px solid #444444;" th:text="${list[0].replacement}">직무 대행자</td>
                        <td style="border: 2px solid #444444;" th:text="${list[0].account}">지급 계좌</td>
                    </tr>
                     <th:block th:if="${list[0].team_cnt} >= 2">
 					 <tr>                    
                        <td style="border: 2px solid #444444;" th:text="${list[1].dept_name}">소속</td>
                        <td style="border: 2px solid #444444;" th:text="${list[1].emp_rank}">직위</td>
                        <td style="border: 2px solid #444444;" th:text="${list[1].name}">성명</td>
                        <td style="border: 2px solid #444444;" th:text="${list[1].private_num}">개인 번호</td>
                        <td style="border: 2px solid #444444;" th:text="${list[1].replacement}">직무 대행자</td>
                        <td style="border: 2px solid #444444;" th:text="${list[1].account}">지급 계좌</td>
                    </tr>
                    </th:block>
                    <th:block th:unless="${list[0].team_cnt} >= 2">
                     <tr>                    
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                    </tr>
                    </th:block>
                    <th:block th:if="${list[0].team_cnt} >= 3">
                     <tr>                    
                        <td style="border: 2px solid #444444;" th:text="${list[2].dept_name}">소속</td>
                        <td style="border: 2px solid #444444;" th:text="${list[2].emp_rank}">직위</td>
                        <td style="border: 2px solid #444444;" th:text="${list[2].name}">성명</td>
                        <td style="border: 2px solid #444444;" th:text="${list[2].private_num}">개인 번호</td>
                        <td style="border: 2px solid #444444;" th:text="${list[2].replacement}">직무 대행자</td>
                        <td style="border: 2px solid #444444;" th:text="${list[2].account}">지급 계좌</td>
                    </tr>
                    </th:block>
                    <th:block th:unless="${list[0].team_cnt} >= 3">
                     <tr>                    
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                    </tr>
                    </th:block>
                    <th:block th:if="${list[0].team_cnt} >= 4">
                     <tr>                    
                        <td style="border: 2px solid #444444;" th:text="${list[3].dept_name}">소속</td>
                        <td style="border: 2px solid #444444;" th:text="${list[3].emp_rank}">직위</td>
                        <td style="border: 2px solid #444444;" th:text="${list[3].name}">성명</td>
                        <td style="border: 2px solid #444444;" th:text="${list[3].private_num}">개인 번호</td>
                        <td style="border: 2px solid #444444;" th:text="${list[3].replacement}">직무 대행자</td>
                        <td style="border: 2px solid #444444;" th:text="${list[3].account}">지급 계좌</td>
                    </tr> 
                    </th:block>
                     <th:block th:unless="${list[0].team_cnt} >= 4">
                     <tr>                    
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                        <td style="border: 2px solid #444444; padding: 13px;"></td>
                    </tr>
                    </th:block>                         
                </table>
                <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td colspan="2" style="border: 2px solid #444444; text-align: center; width:24.7%;">출&nbsp; 장&nbsp; 지</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].location}">뉴욕</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 2px solid #444444; text-align: center;">출장&nbsp; 목적</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].reason}">MLB 관람</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 2px solid #444444; text-align: center;">출장&nbsp; 기간</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|${diffDays-1}박  ${diffDays} 일|">45박46일</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 2px solid #444444; text-align: center;">출장&nbsp; 일정</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|${list[0].bt_start} ~ ${list[0].bt_end}|"></td>
                    </tr>
                </table>
                <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td colspan="2" style="border: 2px solid #444444; text-align: center; width:24.7%;">구&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;분</td>
                        <td colspan="5" style="border: 2px solid #444444; text-align: center;">경비&nbsp;&nbsp;산출&nbsp;&nbsp;내역</td>
                    </tr>
                    <tr>
                        <td rowspan="8" style="border: 2px solid #444444; width:5%; text-align: center;">여<br>비<br>산<br>출</td>
                        <td style="border: 2px solid #444444; text-align: center;">식&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].food_money}">5000</td>
                    </tr>
                    <tr>                       
                        <td style="border: 2px solid #444444; text-align: center;">숙&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;박&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].room_charge}">5000</td>
                    </tr>
                    <tr>                       
                        <td rowspan="4" style="border: 2px solid #444444; text-align: center;">교&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;통&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|(열차) ${list[0].tran_train_cost}|">5000</td>
                    </tr>
                    <tr>                                              
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|(자동차) ${list[0].tran_car_cost}|">5000</td>
                    </tr>
                    <tr>                       
                      
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|(항공) ${list[0].tran_airplane_cost}|">5000</td>
                    </tr>
                    <tr>                       
                  
                        <td colspan="5" style="border: 2px solid #444444;" th:text="|(버스) ${list[0].tran_bus_cost}|">5000</td>
                    </tr>
                       <tr>                       
                            <td style="border: 2px solid #444444; text-align: center;">현&nbsp;&nbsp;지&nbsp;&nbsp;교&nbsp;&nbsp;통&nbsp;&nbsp;비</td>
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].tran_local_cost}">5000</td>
                    </tr>
                    <tr> 
                        <td style="border: 2px solid #444444; text-align: center;">기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;타</td>                      
                        <td colspan="5" style="border: 2px solid #444444;" th:text="${list[0].etc}">5000</td>
                    </tr>
                </table>
                <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                    <tr> 
                            <td colspan="4" style="border: 2px solid #444444; text-align: center; width:60%;">합&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;계</td>                      
                            <td colspan="3" style="border: 2px solid #444444; text-align: center;">출장비용합계</td>
                    </tr>
                    <tr> 
                            <td colspan="2" style="border: 2px solid #444444; text-align: center; width:30%; ">계정번호</td>                      
                            <td colspan="2" style="border: 2px solid #444444; text-align: center; width:30%;">협조</td>
                            <td colspan="3" style="border: 2px solid #444444; text-align: center;">발의번호</td>
                    </tr>
                    <th:block th:if="${etcListSize} > 0">
                       <tr> 
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[0].g_num}">계정번호1</td>                      
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[0].help}">협조1</td>
                            <td colspan="3" style="border: 2px solid #444444;" th:text="${etcList[0].b_num}">발의번호1</td>
                       </tr>
                    </th:block>           
                    <th:block th:unless="${etcListSize} > 0">
                        <tr> 
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>                      
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>
                            <td colspan="3" style="border: 2px solid #444444; padding: 13px;"></td>
                       </tr>
                    </th:block>
                     <th:block th:if="${etcListSize} > 1">
                       <tr> 
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[1].g_num}">계정번호1</td>                      
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[1].help}">협조1</td>
                            <td colspan="3" style="border: 2px solid #444444;" th:text="${etcList[1].b_num}">발의번호1</td>
                       </tr>
                    </th:block>           
                    <th:block th:unless="${etcListSize} > 1">
                        <tr> 
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>                      
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>
                            <td colspan="3" style="border: 2px solid #444444; padding: 13px;"></td>
                       </tr>
                    </th:block> 
                    <th:block th:if="${etcListSize} > 2">
                       <tr> 
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[2].g_num}">계정번호1</td>                      
                            <td colspan="2" style="border: 2px solid #444444;" th:text="${etcList[2].help}">협조1</td>
                            <td colspan="3" style="border: 2px solid #444444;" th:text="${etcList[2].b_num}">발의번호1</td>
                       </tr>
                    </th:block>           
                    <th:block th:unless="${etcListSize} > 2">
                        <tr> 
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>                      
                            <td colspan="2" style="border: 2px solid #444444; padding: 13px;"></td>
                            <td colspan="3" style="border: 2px solid #444444; padding: 13px;"></td>
                       </tr>
                    </th:block> 
                </table>
            </div>
             <!--접수 싸인란--> 
            <div style="margin: 10% 0% 0% 55%">
                <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="width: 70%;"></td>
                        <td style="border: 2px solid #444444; text-align: center; width: 30%;">접수</td>
                    </tr>
                    <tr>
                        <td style="color: gray;">이와 같이 출장을 명함.</td>
                        <td style="border: 2px solid #444444; padding: 15px; text-align: center;">날인</td>
                    </tr>
                </table>
            </div>
         </div>
       </div>
		<!-- /#Print HTML area -->
	</div>
</div>
</html>