<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">
<div class="container-fluid" layout:fragment="content">
	<style type="text/css">
		.hover{background-color:#fdf7df;}
		.graytd{background-color:#fcfcfc;}
	</style>

	<script type="text/javascript">
		$(function() {

			$("#docsTr tr").hover(
					function () {
						$(this).children().removeClass('graytd');
						$(this).addClass('hover');

					},
					function () {
						$(this).removeClass('hover');
						$(this).children().addClass('graytd');
					}
			);
		});

		function loadDetailView(no){
			/*출장 문서 상세보기*/
		  	  var docsStatus = $("#docsStatus").val();
			  location.href = "/home/docs/trip/detail-view/"+docsStatus+"/"+no;
		}

	</script>
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">MY 결재함</li>
		<li class="breadcrumb-item" style="color: #007bff;">결재 목록</li>
	</ol>
	<ol class="breadcrumb">
		<th:block th:if="${docsStatus eq 'i' || docsStatus eq 'a'}">
			<li class="breadcrumb-item"><a th:href="@{/home}"
				style="color: black;">휴가결재 목록</a></li>
			<li class="breadcrumb-item active"><a
				th:href="@{/home/docs/trip/i/1}">출장결재 목록</a></li>
		</th:block>
		<th:block th:if="${docsStatus eq 'n' }">
			<li class="breadcrumb-item"><a
				th:href="@{/home/docs/holiday/n/1}" style="color: black;">휴가반려
					목록</a></li>
			<li class="breadcrumb-item active"><a
				th:href="@{/home/docs/trip/n/1}">출장반려 목록</a></li>
		</th:block>
		<th:block th:if="${docsStatus eq 'y' }">
			<li class="breadcrumb-item"><a
				th:href="@{/home/docs/holiday/y/1}" style="color: black;">휴가승인
					목록</a></li>
			<li class="breadcrumb-item active"><a
				th:href="@{/home/docs/trip/y/1}">출장승인 목록</a></li>
		</th:block>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-file"></i> 결재진행 문서
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<input type="hidden" id="msg" th:value="${msg}">
				<input type="hidden" id="docsStatus" th:value="${docsStatus}">
				<table class="table table-bordered" id="dataTable" width="100%"
					   cellspacing="0">
					<thead>
					<tr>
						<th>번호</th>
						<th>출장 인원</th>
						<th>출장 지역</th>
						<th>출장 기간</th>
						<th>결재 상태</th>
						<th>결재 시안 날짜</th>
					</tr>
					</thead>
					<tbody id="docsTr">
					<tr th:if="${size} == '0'">
						<td colspan=6>데이터가 없습니다.</td>
					</tr>
					<tr th:unless="${size} == '0'" th:each="docs : ${list}"
						style="cursor:pointer;"
						th:onclick="'javascript:loadDetailView(\'' + ${docs.no} + '\');'">
						<td th:text="${docs.board_no}">1</td>
						<td th:text="${docs.team_cnt}">4</td>
						<td th:text="${docs.location}">LA</td>
						<td th:text="|${docs.bt_start} ~ ${docs.bt_end}|">19/07/11 ~ 19/11/15</td>
						<td th:if="${docs.trip_status eq 'i' || docsStatus eq 'a'}" th:text="대기중" style="color: #3d1aff;">reporting</td>
						<td th:if="${docs.trip_status eq 'n' }" th:text="반려" style="color: #ff2f1b;">reporting</td>
						<td th:if="${docs.trip_status eq 'y' }" th:text="승인" style="color: #767676;">reporting</td>
						<td th:text="${docs.trip_reg_date}">19/07/12</td>
					</tr>

					</tbody>
				</table>
				<div class="row">
					<div class="col-sm-12 col-md-7">
						<ul class="pagination">
							<tr th:if="${pageHandler.prev}">
								<li class="page-item"><a class="page-link"
														 th:href="@{'/home/docs/trip/'+${docsStatus}+'/'+${pageHandler.getStartPage()-1}}">Previous</a></li>
							</tr>
							<th:block th:if="${size} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
								<li class="page-item">
									<a class="page-link" th:text="${index.current}"
									   th:href="@{'/home/docs/trip/'+${docsStatus}+'/'+${index.current}}">1</a>
								</li>
							</th:block>

							<tr th:if="${pageHandler.next}">
								<li class="page-item"><a class="page-link"
														 th:href="@{'/home/docs/trip/'+${docsStatus}+'/'+${pageHandler.getEndPage()+1}}">Next</a></li>
							</tr>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer small text-muted" th:text="|Updated at ${now}|">Updated at 11:59 PM</div>
	</div>
</div>
</html>