<!-- Sidebar -->
    <ul class="sidebar navbar-nav" th:fragment="admin-sidebar">
      <li id="userMange" class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-user"></i>
          <span>사원관리</span>      
        </a>
        <div class="dropdown-menu" aria-labelledby="usersDropdown">
          <a class="dropdown-item" th:href="@{/admin/user/sign-up}">사원 등록</a>
          <a class="dropdown-item" th:href="@{/admin/home/emp-list/1}">사원 조회</a>
        </div>
      </li>
      <li id="docsManage" name="docsNav" class="nav-item dropdown active">
	    <a class="nav-link dropdown-toggle" href="#" id="pagesMangeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      <i class="fas fa-fw fa-file"></i>
	      <span>결재 관리</span>
	    </a>
	    <div class="dropdown-menu" aria-labelledby="pagesMangeDropdown">
	      <a class="dropdown-item" th:href="@{/home/docs/reporting/list/all/all/1}">결재 대상 문서</a>
	    </div>
	  </li>
	  <li id="adminLogManage" class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-file"></i>
          <span>로그관리</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" th:href="@{/admin/log/error/1}">에러 로그</a>
          <!-- <a class="dropdown-item" href="#">접속 로그</a> -->
        </div>
      </li> 
  </ul>