<ul class="sidebar navbar-nav" th:fragment="user-sidebar">
  <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="myDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-lock"></i>
      <span>MY 결재함</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="myDropdown">
      <a class="dropdown-item" th:href="@{/home/docs/reg-holiday}">휴가 결재 기안</a>
      <a class="dropdown-item" th:href="@{/home/docs/reg-trip}">출장 결재 기안</a>
      <a class="dropdown-item" th:href="@{/home}">결재 목록</a>
      <a class="dropdown-item" th:href="@{/home/docs/holiday/n/1}">반려 결재</a>
      <a class="dropdown-item" th:href="@{/home/docs/holiday/y/1}">완료 결재</a>
    </div>
  </li>
  <li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="pagesMangeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-file"></i>
      <span>결재 관리</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesMangeDropdown">
    <!--권한을 더추가해 카테고리를 나눠야함  -->
      <a class="dropdown-item" th:href="@{/home/docs/reporting/list/i/all/all/1}">결재 대상 문서</a>
    <!--<a class="dropdown-item" th:href="@{/home/docs/reporting/list/a/1}">결재 대상 문서</a>-->
      <a class="dropdown-item" th:href="@{/home/docs/reporting/list/y/all/all/1}">결재 완료 문서</a>
    </div>
  </li>
  <li class="nav-item dropdown active" th:if="${roleName eq 'MANAGER'}">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>참조 결재</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" th:href="@{/home/docs/reference/list/y/all/all/1}">결재목록 조회</a>
    </div>
  </li>
</ul>