<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">
<div class="container-fluid" layout:fragment="content">
	<style type="text/css">
		.hover{background-color:#fdf7df;}
		.graytd{background-color:#fcfcfc;}
	</style>

	<script type="text/javascript">
	  $(function() {
			var msg = $("#msg").val();
			if(msg != ''){
				alert(msg);
			}

		  	$("#docsTr tr").hover(
			function () {
				$(this).children().removeClass('graytd');
				$(this).addClass('hover');

			},
			function () {
				$(this).removeClass('hover');
				$(this).children().addClass('graytd');
			}
			);
	  });

	  function loadDetailView(no){
	  	/*휴가 문서 상세보기 */
	  	  var docsStatus = $("#docsStatus").val();
		  location.href = "/home/docs/holiday/detail-view/"+docsStatus+"/"+no;
	  }

	</script>
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">MY 결재함</li>
			<li class="breadcrumb-item active"><a href="#">결재 목록</a></li>
		</ol>
		<ol class="breadcrumb">
			<th:block th:if="${docsStatus eq 'i' }">
			<li class="breadcrumb-item">
				<a th:href="@{/home}">휴가결재 목록</a>
			</li>
			<li class="breadcrumb-item active">
				<a th:href="@{/home/docs/trip/i/1}">출장결재 목록</a>
			</li>
			</th:block>
			<th:block th:if="${docsStatus eq 'n' }">
				<li class="breadcrumb-item">
					<a th:href="@{/home}">휴가반려 목록</a>
				</li>
				<li class="breadcrumb-item active">
					<a th:href="@{/home/docs/trip/n/1}">출장반려 목록</a>
				</li>
			</th:block>
			<th:block th:if="${docsStatus eq 'y' }">
				<li class="breadcrumb-item">
					<a th:href="@{/home}">휴가승인 목록</a>
				</li>
				<li class="breadcrumb-item active">
					<a th:href="@{/home/docs/trip/y/1}">출장승인 목록</a>
				</li>
			</th:block>
		</ol>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-file"></i> 문서 조회
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<input type="hidden" id="msg" th:value="${msg}">
					<input type="hidden" id="docsStatus" th:value="${docsStatus}">
					<table class="table table-bordered" id="dataTable" width="100%"
						   cellspacing="0">
						<thead>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>휴가 종류</th>
							<th>휴가 기간</th>
							<th>결재 상태</th>
							<th>결재 시안 날짜</th>
						</tr>
						</thead>
						<tbody id="docsTr">
						<tr th:if="${size} == '0'">
							<td colspan=6>데이터가 없습니다.</td>
						</tr>
						<tr th:unless="${size} == '0'" th:each="docs : ${list}"
							style="cursor:pointer;"
							th:onclick="'javascript:loadDetailView(\'' + ${docs.no} + '\');'">
							<td th:text="${docs.board_no}">1</td>
							<td th:text="${docs.name}">Brian</td>
							<td th:text="${docs.holiday_type}">Annual</td>
							<td th:text="|${docs.holiday_start} ~ ${docs.holiday_end}|">19/07/11 ~ 19/07/15</td>
							<td th:if="${docs.holiday_status eq 'i' }" th:text="대기중" style="color: #3d1aff;">reporting</td>
							<td th:if="${docs.holiday_status eq 'n' }" th:text="반려" style="color: #ff2f1b;">reporting</td>
							<td th:if="${docs.holiday_status eq 'y' }" th:text="승인" style="color: #767676;">reporting</td>
							<td th:text="${docs.holiday_reg_date}">19/07/12</td>
						</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12 col-md-7">
							<ul class="pagination">
								<tr th:if="${pageHandler.prev}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/home/docs/holiday/'+${docsStatus}+'/'+${pageHandler.getStartPage()-1}}">Previous</a></li>
								</tr>
								<th:block th:if="${size} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
									<li class="page-item">
										<a class="page-link" th:text="${index.current}"
										   th:href="@{'/home/docs/holiday/'+${docsStatus}+'/'+${index.current}}">1</a>
									</li>
								</th:block>
								
								<tr th:if="${pageHandler.next}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/home/docs/holiday/'+${docsStatus}+'/'+${pageHandler.getEndPage()+1}}">Next</a></li>
								</tr>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer small text-muted">Updated at 11:59 PM</div>
		</div>
</div>
</html>