<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">
<div class="container-fluid" layout:fragment="content">
	<script type="text/javascript">
	  $(function() {
			var msg = $("#msg").val();
			if(msg != ''){
				alert("결재가 등록되었습니다");
			}
	  });
	</script>
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">MY 결재함</a></li>
			<li class="breadcrumb-item active">결재 목록</li>
		</ol>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-file"></i> 결재진행 문서
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<input type="hidden" id="msg" th:value="${msg}">
					<table class="table table-bordered" id="dataTable" width="100%"
						   cellspacing="0">
						<thead>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>휴가 종류</th>
							<th>휴가 기간</th>
							<th>결재 상태</th>
							<th>결재 시안 날짜</th>
						</tr>
						</thead>
						<tbody>
						<tr th:if="${size} == '0'">
							<td colspan=6>데이터가 없습니다.</td>
						</tr>
						<tr th:unless="${size} == '0'" th:each="docs : ${list}">
							<td th:text="${docs.no}">1</td>
							<td th:text="${docs.name}">hyunsangwon</td>
							<td th:text="${docs.holiday_type}">연차</td>
							<td th:text="|${docs.holiday_start} ~ ${docs.holiday_end}|">19/07/11 ~ 19/07/15</td>
							<td th:if="${docs.holiday_status eq 'i' }" th:text="대기중" style="color: #3d1aff;">대기중</td>
							<td th:text="${docs.holiday_reg_date}">19/07/12</td>
						</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12 col-md-7">
							<ul class="pagination">
								<tr th:if="${pageHandler.prev}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/home/docs/holiday/'+${list[index.index].holiday_status}+'/'+${pageHandler.getStartPage()-1}}">Previous</a></li>
								</tr>
								<th:block th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
									<li class="page-item">
										<a class="page-link" th:text="${index.count}"
										   th:href="@{'/home/docs/holiday/'+${list[index.index].holiday_status}+'/'+${index.count}}">1</a>
									</li>
								</th:block>
								<tr th:if="${pageHandler.next}">
									<li class="page-item"><a class="page-link"
															 th:href="@{'/home/docs/holiday/'+${list[index.index].holiday_status}+'/'+${pageHandler.getEndPage()+1}}">Next</a></li>
								</tr>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer small text-muted">Updated at 11:59 PM</div>
		</div>
</div>
</html>